  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
  
html{
    font-size: 16px;
}

:root {
    --cor-principal:#041a3b;
    --primeiro-fundo: #ffffff;
    --segundo-fundo:#f2f2f2;
    --detalhe_1: #5a8495;
    --detalhe_2: #eaa721;
    --fonte:'Poppins', sans-serif;
    --beirada: 0 21.5rem;
}

body {
    font-family: var(--fonte);
    color: var(--cor-principal);
    font-weight: 200;
}

/* Cabeçalho */
.cabecalho{
    background-image: url('../img/back1.png');
    background-repeat: no-repeat;
    background-size: 100vw;    
}

.cabecalho_coisas {
    padding: 0 18% 13% 18%;
}

.barra_opcoes {
    display: flex;
    justify-content: flex-end;
    column-gap: 2rem;
    padding-top: 2rem;
}
    
.barra_links {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primeiro-fundo);
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    margin: 2.8rem 0 0 1.5rem;
}

.cabecalho_logotipo {
    font-size: 2.3rem;
    font-weight: 400;
    color: var(--primeiro-fundo);
}

/* Menu */
.cabecalho__menu{
    display: none;
}

.menu__lateral{
    display: none;
}

/* Adoção */
.adotar {
    display: grid;
    grid-template-areas: 
    'imagem texto1'
    'imagem texto2';
    grid-template-rows: 1.8rem;
    column-gap: 1.5rem;
    margin: 1.5rem 0 1.5rem 0;
    padding: var(--beirada);
}

.adotar_img{
    grid-area: imagem;
}

.adotar_titulo{
    font-size: 2rem;
    font-weight: 400;
    grid-area: texto1;
}

.adotar_texto {
    grid-area: texto2;
    margin-top: 1rem;
    line-height: 2rem;
}

/* Necessidades */
.necessidades {
    background-color: var(--segundo-fundo);
    padding: 3.2rem 0 3.2rem 0;
}

.necessidades_titulo{
    padding-bottom: 1.6rem;
}

.necessidades_cartoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2.4rem;
    padding: var(--beirada);
}

.necessidades_titulo{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.necessidades_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.3rem;
    width: 12.4rem;
    height: 22rem;
    background-color: var(--primeiro-fundo);
    border-radius: 1.3rem;
    box-shadow: 3px 3px 15px -5px var(--cor-principal);
}

.card_img {
    width: 12.4rem;
    border-top-right-radius: 1.3rem;
    border-top-left-radius: 1.3rem;
}

.card_icon{
    width: 2.4rem;
}

.card_texto {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0 1.5rem;
    text-align: center;
}

/* Ajudar */
.ajuda {
    display: grid;
    grid-template-areas: 
    'imagem texto1'
    'imagem texto2'
    'imagem texto3';
    grid-template-rows: 2rem;
    column-gap: 1.6rem;
    margin: 3.2rem 0 3.2rem 0;
    padding: var(--beirada);
}

.ajuda_img{
    grid-area: imagem;
}

.ajuda_titulo{
    font-size: 2rem;
    font-weight: 400;
    grid-area: texto1;
}

.ajuda_texto {
    grid-area: texto2;
    margin-top: 1rem;
    line-height: 2rem;
}

.ajuda_texto i {
    font-weight: 400;
}

.ajudar_botao {
    grid-area: texto3;
    width: 6.3rem;
    padding: 0.5rem;
    border: 2px solid var(--detalhe_2);
    border-radius: 1.3rem;
    color: var(--detalhe_2);
    font-weight: 400;
    background: transparent;
    justify-self: center;
    margin-top: 1.6rem;
    text-align: center;
    font-weight: 400;
    transition: 0.5s;
}

/* Medico */
.medico{
    display: flex;
    flex-direction: column;
    background-color: var(--segundo-fundo);
    padding-bottom: 3.2rem;
}

.medico_img {
    width: 55%;
    align-self: center;
}

.medico_titulo{
    padding: 1.6rem 0 1.6rem 0;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.medico_texto{
    align-self: center;
    text-align: center;
    line-height: 2rem;
    padding: 0 28.2rem;
}

.medico_mapa{
    align-self: center;
    padding: 1.6rem 0 0 0;
}

.medico_mapa-link {
    box-shadow: 3px 3px 15px -5px var(--cor-principal);
    border-radius: 1.3rem;
}

/* Comentario */
.comentario{
    margin-bottom: 1.6rem;
}
.comentario_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.2rem 0 3.2rem 0;
}
.comentario_img{
    width: 10%;
}

.comentario_titulo{
    color: var(--detalhe_1);
    font-weight: 400;
    margin: 1.6rem 0;
}

.comentario_texto{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 2rem;
    padding: 0 28.2rem;
}

.swiper-button-next,.swiper-button-prev{
    padding: 0 20rem;
}

/* Rodapé */
.rodape{
    background: #8b8b8b;
}
.rodape_acesso{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.6rem 0 1.6rem 0;
}

.radape_img{
    width: 55%;
}

.rodape_logotipo{
    padding-top: 0.8rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--primeiro-fundo);
}

.rodape_links{
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}

.links_titulo{
    font-weight: 400;
    color: var(--primeiro-fundo);
}

.links{
    text-decoration: none;
    color: var(--primeiro-fundo);
}

.email{
    display: grid;
    grid-template-areas: 
    'titulo titulo'
    'campo botao';
    width: 50%;
    grid-template-columns: 24.4rem 5.3rem;
    column-gap: 0.9rem;
}

.email_titulo{
    font-weight: 400;
    color: var(--primeiro-fundo);
    grid-area: titulo;
    padding-bottom: 0.9rem;
}

.email_cadastro{
    grid-area: campo;
    border-radius: 1.3rem;
    padding: 0.3rem 0 0.3rem 1.6rem;
}

.email_cadastro::placeholder{
    color: var(--detalhe_1);
    font-size: 0.9rem;
}

.email_botao{
    grid-area: botao;
    border-radius: 1.3rem;
    background: var(--detalhe_1);
    color: var(--primeiro-fundo);
    transition: 0.5s;
    box-shadow: none;
}

.assinatura{
    display: block;
}

.assinatura_escrito{
    text-align: center;
    color: var(--primeiro-fundo);
    font-weight: 400;
    font-size: 0.8rem;
}

.necessidades_mobile{
    display: none;
}

/* Effeitos */
.barra_links:hover {
    color: var(--detalhe_2);
}

.ajudar_botao:hover {
    cursor: pointer;
    background-color: var(--detalhe_2);
    color: var(--primeiro-fundo);   
    transition: 0.6s; 
    transform: scale(1.2);
}

.links:hover {
    color: var(--detalhe_2);
}

.email_botao:hover {
    cursor: pointer;
    background-color: var(--detalhe_2);
    color: var(--primeiro-fundo);   
    transition: 0.6s; 
}

@media screen and (min-width: 1550px) {
    .cabecalho_coisas {
        padding: 0 21.5rem 20.7rem 21.5rem;
    }
}
